/vendor/

.env

.idea/
.vscode/
*.sublime-*
.swp
.swo
*.code-workspace
*.bak
*.tmp

.php_cs.cache
.cache
.phpunit.result.cache
composer.phar

*.log
apache2/
logs/
var/log/

docker-compose.yml.bak
docker-compose.yml~
docker-compose.override.yml
